@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #fff;
  --color-text-primary: #0f0f0f;
  --color-text-secondary: #5c5c61;
  --color-border: #e5e7eb;
}

@layer theme {
  .dark {
    --color-background: #0f0f0f;
    --color-text-primary: #fff;
    --color-text-secondary: #5c5c61;
    --color-border: #5c5c61;
  }
}
